# Ambientes Virtuais (Nunca subir!)
.venv
.venv_linux
env/
venv/
__pycache__/
*.pyc
.env


# Arquivos do VS Code e Azure
.vscode/
.python_packages/
local.settings.json

# Arquivos de Log e Build
*.log
dist/
build/
deploy_temp_bot/